<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Template/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Template/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../Template/css/main.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">

 

    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../../Template/images/about-banner-pic.jpeg); ">
        <h2 class="l-text2 t-center">
            About
        </h2>
    </section>

    <!-- content page -->
    <section class="bgwhite p-t-66 p-b-38">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-b-30">
                    <div class="hov-img-zoom">
                        <img src="~/Template/images/HomePharmaLogo.png" alt="IMG-ABOUT">
                    </div>
                </div>

                <div class="col-md-8 p-b-30">
                    <h3 class="m-text26 p-t-15 p-b-16">
                        Our story
                    </h3>

                    <p class="p-b-28">

                        The application software is titled “HomePharma”. The tailor-made software which suites the requirements of a medicine searching software is developed using ASP.NET as front end and SQL SERVER as the backend
                        This project is an online medicine search web application. This application allows a visitor to search for a medicine and addresses of medical stores (wholesale and retail sales) where the medicine is available.
                        This application is a solution. So, this web application is planned to develop based on the requirements of the client.
                        This “HomePharma” is an online medicine search web application. This application allows a visitor to search for a medicine and addresses of medical stores (wholesale and retail sales) where the medicine is available. This application is a solution. So, this web application is planned to develop based on the requirements of the client.
                        The client is a small scale pharmaceutical company that is distributing generic medicines to emergency medicines and having a good network of medical (retail) stores. Main need of the client is to prepare an online application to help the needy people in finding the availability of the medicine and a list of medical stores where the medicine is available. The visitor can quickly find the nearest medical store by selecting the area in the search tools.
                        This application also provides a login account to a registered medical store. Using this account a person from the medical store can update the list of medicines and their stock on daily-wise. This avoids providing outdated data to the visitor.
                    </p>

                    <h3 class="m-text26 p-t-15 p-b-16">
                        Our aim
                    </h3>
                    <p class="p-b-28">
                        To help people buy medicine online without moving to pharmacy physically. Customer can upload their prescription image or buy specific medicine product by a single click. It will save time, customer don’t have to wait in a long queue, and sellers don’t have to deal with the high crowd. Wherever the customers are, medicine will be supplied within a short time. Get all medicines delivered right to users’ doorstep. Users have the option to schedule their delivery beforehand, so that they don’t skip on any medication routine
                        Users will be provided with emergency medicine support and ambulance services when they need. Primary treatment will be easier. We hope that quick treatment can save patients from chronic disease or serious injury.
                        Find out nearby pharmacy easily. User can search for nearby well reviewed pharmacy and diagnostic center quickly.
                        Customer can compare the prices before placing orders. It will help them saving extra cost. We all know how costly certain medication can get, but now you can avail the best price on a wide variety of medicines and health products. Pharmacy will create seasonal deals, big cashback offers, and even bigger discounts on medicines.
                        Our system will also contain useful information in the form of blogs or articles on drugs, healthy living, hygiene, drug safety and other health related issues. On reading them one will gain more knowledge on health. The medicine information is comparatively more understandable and accessible than in traditional pharmacies.
                        We wish to render personal health care tips. There will be various types of personal health tips or information and FAQs in our system.
                        There are several payment options which enable the consumer to pay for their drugs easily like credit or debit card, cash on delivery or other online payment modes. This is lacking in traditional medicine stores.
                        Pharmacy can provide awesome other benefits include the ease of surfing through the available medicines which come in regular use like vitamin tablets, common cold capsules etc. It also helps a lot to the consumer as the stock of all the medicines are abundant and can be accessed at all times.
                        It will give an opportunity to local pharmacies and pharmacists to have employment opportunities in the online portals. This is an indirect advantage that the online medicine shipping serves.
                        Conventional stationary pharmacies usually have controlled drug distribution systems from the manufacturer. Validation and good distribution practices are followed. Home delivery of pharmaceuticals can be a desirable convenience.
                        Medicine products can be remain safe when delivered in modified packaging system ensuring safe movement, required temperature and other safety of product.
                    </p>


                    <div class="bo13 p-l-29 m-l-9 p-b-10">

                        <p class="p-b-11">
                            <h3 class="m-text26 p-t-15 p-b-16">
                                Features
                            </h3>
                        </p>


                        <p class="p-b-28">
                            <span class="s-text7">
                                - Full prescription management: As integrated with ePrescription, The system offers to manage the full prescription given by the doctors. Using this feature, your pharmacy will be receiving new & refill prescriptions directly into the Online Medicine Ordering systems from doctors for review, and this will be helpful in the faster completion of the dispensing process
                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Automated claims processing: Of course, the system requires automated claim processing systems and it keeps an entire record of the claim submissions including adjudication (V5.1, etc.)
                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Accuracy & Safety: As it is the question of many lives, hence the system offers the fail-safe features for accuracy & safety, hence leaving no scope for errors.
                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Complete & accurate drug interaction & other databases: The system is able to detect Drug-Drug Interactions and this way it reduces the chances of ADEs, preserves patients' safety, and prevents related medical and legal problems.
                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Drug-file updates: All the updates regarding the new drugs introduced in the market and other drugs related information can be found in the system.
                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Electronic wholesaler ordering: This feature ensures up-to-date costing and inventory, which ties into reliable margin reporting and inventory valuations.
                            </span>

                        </p>

                        <p class="p-b-28">
                            <span class="s-text7">
                                - Efficient delivery and a simple ordering process: This system will provide quick delivery and a simple ordering procedure, helping you to avoid  the hassle of a long waiting period. In addition, you don’t have to worry if you don’t have a prescription, as we can provide an online prescription in most cases.

                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Quick treatment with just one click: This system intends to use technology in the best way, in order to improve the health and wellbeing of the patients. Our health professionals will evaluate your condition with a series of questions and they will approve a suitable prescription for you. Even more, you can benefit from quick access to a pharmacist and GP via phone, e -mail or live chat; images can also be uploaded with your request.

                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Expert advice and guidance: This system prides itself on offering convenient healthcare and medicines, putting forward instant access to expert services, professional doctors and pharmacy staff. This signifies that you can order prescription and non-prescription treatment through our chemist from your home or at work, and not have to travel to the GP or pharmacist. In addition to our Online Doctor service for consultations over the web and different sexual health tests, we also strive to provide useful information about medications, diseases and a healthy lifestyle.
                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Completely convenient: Our website offers some of the very best prices on medicines and pharmaceutical products, together with a fantastic service. We stock a great range of branded and non-branded products, ensuring you great value for money when you buy from our online chemists. Through our online pharmacy, all the patients, even those with difficult conditions or the ones living in remote areas can easily receive information, products and services that were previously obtained only with great difficulty. Our online services enable you to avoid travel and can save you a lot of time.
                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Discreet services: Some people may feel more comfortable purchasing their treatment online, or simply want to discuss with a professional about prescriptions and health online or over the phone, rather than in person. This means that This system can help you purchase potentially 'embarrassing' products in a discreet manner, such as weight loss, hair loss, STD's or erectile dysfunction treatments. As you would expect, our packaging and billing information are discreet too, ensuring you peace of mind.
                            </span>

                        </p>
                        <p class="p-b-28">
                            <span class="s-text7">
                                - Other benefits: Low cost of ownership.
It is helpful in increasing productivity and resultantly profitability.
It is a flexible system that can be customized as per your requirements.
There are wide-ranging modules created keeping in mind all the requirements, with a separate login for pharmacy administrators & employees.
It offers Smart User Management by assigning different privileges to different users. It is also able to manually set parameters for different users.
With it being integrated with Barcode Scanner, it is able to record details easily and hence speeds up the sale procedure.
It is a lot more than just a Online Medicine Ordering System, as it also takes care of Supply Chain Management.
There are a number of useful features available in the system such as Expiry Date Alert & Minimum Stock Alert.
Quite promptly & quickly the system provides the analysis and information about the business, which is helpful in better decision-making.
It offers a Centralized Data Storage facility as well as Easy & Interactive retrieval of data.
The system is reliable & secure as during the development of the system, all the major threats were considered and all preventive measures are also taken care of.
It boasts simple, user-friendly & efficient user-interface design, as all the key elements are taken care during the designing of the system.

                            </span>

                        </p>

                        @*<span class="s-text7">
                            - Steve Job’s
                        </span>*@
                    </div>
                </div>
            </div>
        </div>
    </section>


  



    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection -->
    <div id="dropDownSelect1"></div>
    <div id="dropDownSelect2"></div>



    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Template/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Template/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Template/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Template/vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });

        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect2')
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Template/js/main.js"></script>

</body>
</html>
