@using OnlinePharmacyOrdaringSystem.Models
@{
    ViewBag.Title = "AfterLogin";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<div align="center" style="font-size: 40px">Your Profile</div>

<div align="center">
    @if (Session["PharmacyUserID"] != null)
    {
        <div>
            Welcome <a href="#">@Session["PharmacyUsername"]</a>

            <br/>

            <a href="@Url.Action("Edit", new {id = Session["PharmacyUserID"]})">Edit profile</a>
            <br/>
            <a href="@Url.Action("EditPharmacy", "Pharmacy", new {id = Session["PharmacyUserID"]})">Edit pharmacy</a>
            <br/>
            <a href="@Url.Action("DeletePharmacy", "Pharmacy", new {id = Session["PharmacyUserID"]})">Delete pharmacy</a>
            <br/>

            <a href="/PharmacyUser/Logout">Sign Out</a>
        </div>
    }
</div>

